html, body { height: 100% }
* { margin: 0; padding: 0;}


.bigtext {
    font-size: 74px;
    font-weight: 800;
}

.smalltext {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: lighter;;
    font-size: 24px;
    opacity: 0.5;
}


.divright {
    float: right;
}

.getStarted {
    background: linear-gradient(269.97deg, #985076 -80.41%, #B81D6F -27.59%, #FE8745 100.7%);
}


.barSubMenu {
    color: white;
}
